<% class Hash
  def deep_find(key, object=self, found=nil)
    if object.respond_to?(:key?) && object.key?(key)
      return object[key]
    elsif object.is_a? Enumerable
      object.find { |*a| found = deep_find(key, a.last) }
      return found
    end
  end
end %>

<!DOCTYPE html>
<html>
  <head>
    <!--Import Favicon-->
    <link rel="Shortcut Icon" type="image/ico" href="image/favicon.ico">
    <title>ArtifexReport</title>
    <meta charset="utf-8">
    <!--Import Google Icon Font-->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="css/materialize.css" media="screen,projection" />
    <!--Import Chart.js-->
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.bundle.js"></script> -->
    <!--Import Chart's css  -->
    <link rel="stylesheet" href="css/pie_chart.css">
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body>
    <header>
        <div class="container">
            <nav class="top-nav blue darken">
                <div class="container">
                    <div class="nav-wrapper">
                        <a class="brand-logo center"><%= @report_name %></a>
                        <p class="right-align"><%= @environment %></p>
                    </div>
                </div>
            </nav>
        </div>
    </header>

    <main>
        <div class="container">
            <div class="row">
                <div class="col s12 m12 l12">
                    <!--Navigation Tab Bar-->
                    <div class="tab-bar">
                        <ul class="tabs tabs-fixed-width z-depth-1">
                            <li class="tab"><a class="active blue-text text-darken" href="#overview">Overview</a></li>
                            <li class="tab"><a class="blue-text text-darken" href="#features">Features</a></li>
                            <li class="tab"><a class="blue-text text-darken" href="#scenarios">Scenarios</a></li>
                            <li class="tab"><a class="blue-text text-darken" href="#errors">Errors</a></li>
                        </ul>
                    </div>
                    <div id="overview" class="col s12 m12 l12">
                        <!--Start Overview  -->
                        <h4 class="center-align">Overview</h4>
                        <!--Overview Info  -->
                        <p>Report generated in <%= @time_date %> at <%= @time_hours %></p>
                        <div class="container">
                            <div class="row">
                                <div class="col s12 m12 l12">
                                    <div class="row">
                                        <!--Pie Chart  -->
                                        <div class="pie-charts">
                                            <!--Featues Pie Chart  -->
                                            <div class="pieID--micro-skills pie-chart--wrapper">
                                                <h5>Features</h5>
                                                <div class="pie-chart">
                                                    <div class="pie-chart__pie"></div>
                                                    <ul class="pie-chart__legend">
                                                        <li><em><%= @overview_success_name %></em><span><%= @features_passed.count %></span></li>
                                                        <li><em><%= @overview_failed_name %></em><span><%= @features_failed.count %></span></li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <!--Scenarios Pie Chart  -->
                                            <div class="pieID--categories pie-chart--wrapper">
                                                <h5>Scenarios</h5>
                                                <div class="pie-chart">
                                                    <div class="pie-chart__pie"></div>
                                                    <ul class="pie-chart__legend">
                                                      <li><em><%= @overview_success_name %></em><span><%= @scenarios_passed.count %></span></li>
                                                      <li><em><%= @overview_pending_name %></em><span><%= @scenarios_pending.count %></span></li>
                                                      <li><em><%= @overview_failed_name %></em><span><%= @scenarios_failed.count %></span></li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <!--Steps Pie Chart  -->
                                            <div class="pieID--operations pie-chart--wrapper">
                                                <h5>Steps</h5>
                                                <div class="pie-chart">
                                                    <div class="pie-chart__pie"></div>
                                                    <ul class="pie-chart__legend">
                                                      <li><em><%= @overview_success_name %></em><span><%= @steps_passed.count %></span></li>
                                                      <li><em><%= @overview_failed_name %></em><span><%= @steps_failed.count %></span></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--Pizza Legend Table  -->
                                    <div class="row">
                                        <div class="col s12 m12 l12">
                                            <div class="card-panel center-align" style="">
                                                <div class="row" style="margin-bottom:auto;">
                                                    <div class="col s4 m4 l4">
                                                        <ul class="right-align">
                                                            <li>Success</li>
                                                            <li>Pending</li>
                                                            <li>Broke</li>
                                                        </ul>
                                                    </div>
                                                    <div class="col s8 m8 l8">
                                                        <ul class="center-align">
                                                            <li class="left-align">Corresponds the amount of test executions succeed</li>
                                                            <li class="left-align">Corresponds the amount of test executions with pending data</li>
                                                            <li class="left-align">Corresponds the amount of test executions with bugs found</li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--Features Details Table -->
                                    <div class="row">
                                        <h5 class="center-align">Features</h5>
                                    </div>
                                    <div class="row">
                                        <div class="tbl-header">
                                            <table class="bordered table head">
                                                <thead class="fixed">
                                                    <tr>
                                                        <th class="blue white-text" data-field="id">Features</th>
                                                        <th class="blue white-text" data-field="name">Scenarios Succeeded</th>
                                                        <th class="blue white-text" data-field="name">%</th>
                                                        <th class="blue white-text" data-field="price">Scenarios Broken</th>
                                                        <th class="blue white-text" data-field="price">%</th>
                                                        <th class="blue white-text" data-field="price">Total</th>
                                                    </tr>
                                                </thead>
                                            </table>
                                        </div>
                                        <div class="tbl-content">
                                            <table class="bordered table">
                                                <tbody>
                                                  <!-- Scenarios from features calculator -->
                                                  <% @features.each do |feature| %>
                                                  <% @scn_succed = [] %>
                                                  <% @scn_failed = [] %>
                                                  <% feature['scenarios'].each {|scn| @scn_succed << scn if scn['result'] == 'passed';@scn_failed << scn if scn['result'] != 'passed'} %>
                                                  <% @scn_total  = feature['scenarios'] %>
                                                  <% @success_percent = ((@scn_succed.count.to_f / @scn_total.count) * 100).round(2).to_s + "%" %>
                                                  <% @failure_percent = ((@scn_failed.count.to_f / @scn_total.count) * 100).round(2).to_s + "%" %>
                                                    <tr>
                                                      <td class="data"><%= feature['name'] %></td>
                                                      <td class="data"><%= @scn_succed.count %></td>
                                                      <td class="data"><%= @success_percent %></td>
                                                      <td class="data"><%= @scn_failed.count %></td>
                                                      <td class="data"><%= @failure_percent %></td>
                                                      <td class="data"><%= @scn_total.count %></td>
                                                    </tr>
                                                  <% end %>
                                                    <!-- Scenarios from features calculator -->
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--End Overview-->
                    <div id="features" class="col s12 m12 l12">
                        <!--Start Features-->
                        <h4 class="center-align">Features</h4>
                        <!--Summary numbers  -->
                        <div class="row">
                            <p class="col s6 m6 l6">Features Succeeded: <%= @features_passed.count %></p>
                            <p class="col s6 m6 l6">Features Broken: <%= @features_failed.count %></p>
                        </div>
                        <!--Expand and Collapse Buttons-->
                        <div class="row">
                            <a class="waves-effect waves-light btn blue" onClick="expandAll();"><i class="material-icons left">fullscreen</i>Show All</a>
                            <a class="waves-effect waves-light btn blue" onClick="collapseAll();"><i class="material-icons left">fullscreen_exit</i>Hide All</a>
                        </div>
                        <!--Collapse Start  -->

                        <div class="row">
                            <div class="col s12 m12 l12">
                                <ul class="collapsible white-text" data-collapsible="expandable">
                                    <!--Success Collapse  -->
                                    <li>
                                        <div class="collapsible-header pass1"><i class="material-icons">thumb_up</i>Features Succeeded (<%= @features_passed.count %>/<%= @features.count %>)</div>
                                        <div class="collapsible-body">
                                            <div class="row">
                                                <div class="col s12 m12 l12">
                                                    <ul class="collapsible" data-collapsible="expandable">
                                                        <!--Success Scenarios  -->
                                                        <% @features_passed.each do |feature| %>
                                                        <li style="margin-bottom: 5px;">
                                                            <div class="collapsible-header pass2"><i class="material-icons">thumb_up</i><%= feature['name'] %>
                                                            </div>
                                                            <div class="collapsible-body pass3">
                                                                <ul class="black-text">
                                                                <% feature['scenarios'].each do |scenario| %>
                                                                    <% steps_count = scenario['steps'].count
                                                                    steps_check_passed = []
                                                                    scenario['steps'].each do |b_stp|
                                                                      steps_check_passed << b_stp if b_stp['result'] == 'passed'
                                                                    end

                                                                    steps_check_pending = []
                                                                    scenario['steps'].each do |b_stp|
                                                                      steps_check_pending << b_stp if b_stp['result'] == 'pending'
                                                                    end

                                                                    steps_check_failed = []
                                                                    scenario['steps'].each do |b_stp|
                                                                      steps_check_failed << b_stp if b_stp['result'] == 'failed'
                                                                    end

                                                                    if steps_check_passed.count == steps_count && scenario['result'] == 'passed'
                                                                      @bg_scn_color = "#c5e1a5"
                                                                      @scn_result = 'Passed'
                                                                      @scn_label = '#2ecc71'
                                                                    elsif steps_check_failed != [] || scenario['result'] == 'failed'
                                                                      @bg_scn_color = "#ef9a9a"
                                                                      @scn_result = 'Pending'
                                                                      @scn_label = '#f42'
                                                                    elsif steps_check_pending != []
                                                                      @bg_scn_color = "#ffcc80"
                                                                      @scn_result = 'Failed'
                                                                      @scn_label = '#fb8c00'
                                                                    end %>
                                                                    <div class="left fd-category">
                                                                      <a class="fd-category-komunitas" style="background-color: <%= @scn_label %>;"><%= @scn_result %></a>
                                                                    </div>
                                                                    <% if scenario.keys.include?('embed_data') %>
                                                                    <div class="right">
                                                                      <% @modal = 'modal_' + "#{rand(0..999999)}"%>
                                                                      <a class="btn blue" style="height: 20px;line-height: 20px;" data-target="<%= @modal %>">Details</a>
                                                                    </div>
                                                                    <% end %>
                                                                  <li style="background-color: <%= @bg_scn_color %>;"><%= scenario['scenario_props']['name'] %></li>
                                                                  <hr>
                                                                  <div id="<%= @modal %>" class="modal modal-fixed-footer black-text">
                                                                      <div class="modal-content">
                                                                          <h4>Scenario Details</h4>
                                                                          <p><%= @scn_result %></p>
                                                                          <% scenario['embed_data'].each do |embed| %>
                                                                            <% if embed['format'].include?('image') %>
                                                                              <img src="data:image/png;base64, <%= embed['data'] %>" style="max-height:600px;" class="img-responsive">
                                                                            <% else %>
                                                                              <textarea readonly><%= embed['data'] %></textarea>
                                                                            <% end %>
                                                                          <% end %>
                                                                      </div>
                                                                      <div class="modal-footer">
                                                                          <a href="#!" class="modal-action modal-close btn-flat blue white-text">Close</a>
                                                                      </div>
                                                                  </div>
                                                                <% end %>
                                                                </ul>
                                                            </div>

                                                        </li>
                                                        <% end %>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <!--Broken Collapse  -->
                                    <li>
                                        <div class="collapsible-header missing1"><i class="material-icons">error_outline</i>Features Broken (<%= @features_failed.count %>/<%= @features.count %>)</div>
                                        <div class="collapsible-body">
                                          <div class="row">
                                              <div class="col s12 m12 l12">
                                                  <ul class="collapsible" data-collapsible="expandable">
                                                      <!--Success Scenarios  -->
                                                      <% @features_failed.each do |feature| %>
                                                      <li style="margin-bottom: 5px;">
                                                          <div class="collapsible-header missing2"><i class="material-icons">error_outline</i><%= feature['name'] %>
                                                          </div>
                                                          <div class="collapsible-body missing3">
                                                              <ul class="black-text">
                                                              <% feature['scenarios'].each do |scenario| %>
                                                                  <% steps_count = scenario['steps'].count
                                                                  steps_check_passed = []
                                                                  scenario['steps'].each do |b_stp|
                                                                    steps_check_passed << b_stp if b_stp['result']['status'] == 'passed'
                                                                  end

                                                                  steps_check_pending = []
                                                                  scenario['steps'].each do |b_stp|
                                                                    steps_check_pending << b_stp if b_stp['result']['status'] == 'pending'
                                                                  end

                                                                  steps_check_failed = []
                                                                  scenario['steps'].each do |b_stp|
                                                                    steps_check_failed << b_stp if b_stp['result']['status'] == 'failed'
                                                                  end
                                                                  
                                                                  if steps_check_failed != [] || scenario['result'] == 'failed'
                                                                    # @bg_scn_color = "#ffcc80"
                                                                    @bg_scn_color = ""
                                                                    @scn_result   = 'Pending Data'
                                                                    @scn_label    = '#fb8c00'
                                                                  elsif steps_check_pending != [] || scenario['result'] == 'pending'
                                                                    # @bg_scn_color = "#ffcc80"
                                                                    @bg_scn_color = ""
                                                                    @scn_result   = 'Failed'
                                                                    @scn_label    = '#e53935'
                                                                  else
                                                                    @bg_scn_color = ""
                                                                    @scn_result   = 'Passed'
                                                                    @scn_label    = '#7cb342'
                                                                  end %>
                                                                  <div class="left fd-category">
                                                                    <a class="fd-category-komunitas" style="background-color: <%= @scn_label %>;"><%= @scn_result %></a>
                                                                  </div>
                                                                  <% if scenario.keys.include?('embed_data') %>
                                                                  <div class="right">
                                                                    <% @modal = 'modal_' + "#{rand(0..999999)}"%>
                                                                    <a class="btn blue" style="height: 20px;line-height: 20px;" data-target="<%= @modal %>">Details</a>
                                                                  </div>
                                                                  <% end %>
                                                                  <li style="background-color: <%= @bg_scn_color %>;"><%= scenario['scenario_props']['name'] %></li>
                                                                  <hr>
                                                                  <div id="<%= @modal %>" class="modal modal-fixed-footer black-text">
                                                                      <div class="modal-content">
                                                                          <h4>Scenario Details</h4>
                                                                          <p><%= @scn_result %></p>
                                                                          <% scenario['embed_data'].each do |embed| %>
                                                                            <% if embed['format'].include?('image') %>
                                                                              <img src="data:image/png;base64, <%= embed['data'] %>" style="max-height:600px;" class="img-responsive">
                                                                            <% else %>
                                                                              <textarea readonly><%= embed['data'] %></textarea>
                                                                            <% end %>
                                                                          <% end %>
                                                                      </div>
                                                                      <div class="modal-footer">
                                                                          <a href="#!" class="modal-action modal-close btn-flat blue white-text">Close</a>
                                                                      </div>
                                                                  </div>
                                                              <% end %>
                                                              </ul>
                                                          </div>

                                                      </li>
                                                      <% end %>
                                                  </ul>
                                              </div>
                                          </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>



                    </div>
                    <!--End Features-->
                    <div id="scenarios" class="col s12 m12 l12">
                        <!--Start Scenarios-->
                        <h4 class="center-align">Scenarios</h4>
                        <!--Summary numbers  -->
                        <div class="row">
                            <p class="col s4 m4 l4">Scenarios Succeeded: <%= @scenarios_passed.count %></p>
                            <p class="col s4 m4 l4">Scenarios Broken: <%= @scenarios_failed.count %></p>
                            <p class="col s4 m4 l4">Scenarios Pending: <%= @scenarios_pending.count %></p>
                        </div>
                        <!--Expand and Collapse Buttons-->
                        <div class="row">
                            <a class="waves-effect waves-light btn blue" onClick="expandAll();"><i class="material-icons left">fullscreen</i>Show All</a>
                            <a class="waves-effect waves-light btn blue" onClick="collapseAll();"><i class="material-icons left">fullscreen_exit</i>Hide All</a>
                        </div>
                        <!--Collapse Start  -->
                        <div class="row">
                            <div class="col s12 m12 l12">
                                <ul class="collapsible white-text" data-collapsible="expandable">
                                    <!--Success Collapse  -->
                                    <li>
                                        <% @scenarios = @scenarios_passed.count + @scenarios_failed.count %>
                                        <div class="collapsible-header pass1"><i class="material-icons">thumb_up</i>Scenarios Succeeded (<%= @scenarios_passed.count %>/<%= @scenarios %>)</div>
                                        <div class="collapsible-body">
                                            <div class="row">
                                                <div class="col s12 m12 l12">
                                                    <ul class="collapsible" data-collapsible="expandable">
                                                        <!--Success Scenarios  -->
                                                      <% @scenarios_passed.each do |scenario| %>
                                                        <li>
                                                            <div class="collapsible-header pass2"><i class="material-icons">thumb_up</i><%= scenario['scenario_props']['name'] %>
                                                                <div class="right">
                                                                    <!--Details Button-->
                                                                    <% if !scenario['embed_data'].nil? %>
                                                                    <% @modal = 'modal_' + "#{rand(0..999999)}"%>
                                                                    <a class="btn blue" data-target="<%= @modal %>">Details</a>
                                                                    <% end %>
                                                                </div>
                                                            </div>
                                                            <div class="collapsible-body pass3">
                                                                <ul class="black-text">
                                                                  <% scenario['steps'].each do |step| %>
                                                                  <li><%= step['name'] %></li>
                                                                  <hr>
                                                                  <% end %>
                                                                </ul>
                                                            </div>
                                                        </li>
                                                        <!--Success Modals-->
                                                        <% if !scenario['embed_data'].nil? %>
                                                        <div id="<%= @modal %>" class="modal modal-fixed-footer black-text">
                                                            <div class="modal-content">
                                                                <h4>Scenario Details</h4>
                                                                <p>Succeeded</p>
                                                                <% scenario['embed_data'].each do |embed| %>
                                                                  <% if embed['format'].include?('image') %>
                                                                    <img src="data:image/png;base64, <%= embed['data'] %>" style="max-height:600px;" class="img-responsive">
                                                                  <% else %>
                                                                    <textarea readonly><%= embed['data'] %></textarea>
                                                                  <% end %>
                                                                <% end %>
                                                            </div>
                                                            <div class="modal-footer">
                                                                <a href="#!" class="modal-action modal-close btn-flat blue white-text">Close</a>
                                                            </div>
                                                        </div>
                                                        <% end %>
                                                        <!--Modal end-->
                                                      <% end %>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <!--Broken Collapse  -->
                                    <li>
                                        <div class="collapsible-header missing1"><i class="material-icons">error_outline</i>Scenarios Broken (<%= @scenarios_failed.count %>/<%= @scenarios %>)</div>
                                        <div class="collapsible-body">
                                            <div class="row">
                                                <div class="col s12 m12 l12">
                                                    <ul class="collapsible" data-collapsible="expandable">
                                                        <!--Broken Scenarios  -->
                                                      <% @scenarios_failed.each do |scenario| %>
                                                        <li>
                                                            <div class="collapsible-header missing2"><i class="material-icons">error_outline</i><%= scenario['scenario_props']['name'] %>
                                                                <div class="right">
                                                                    <!--Details Button-->
                                                                    <% if !scenario['embed_data'].nil? %>
                                                                    <% @modal = 'modal_' + "#{rand(0..999999)}"%>
                                                                    <a class="btn blue" data-target="<%= @modal %>">Details</a>
                                                                    <% end %>
                                                                </div>
                                                            </div>
                                                            <div class="collapsible-body missing3">
                                                                <ul class="black-text">
                                                                  <% scenario['steps'].each do |step| %>
                                                                  <li><%= step['name'] %></li>
                                                                  <hr>
                                                                  <% end %>
                                                                </ul>
                                                            </div>
                                                        </li>
                                                        <!--Broken Modals-->
                                                        <% if scenario.keys.include?("embed_data") %>
                                                        <div id="<%= @modal %>" class="modal modal-fixed-footer black-text">
                                                            <div class="modal-content">
                                                                <h4>Scenario Details</h4>
                                                                <p>Broken</p>
                                                                <% scenario['embed_data'].each do |embed| %>
                                                                  <% if embed['format'].include?('image') %>
                                                                    <img src="data:image/png;base64, <%= embed['data'] %>" style="max-height:600px;" class="img-responsive">
                                                                  <% else %>
                                                                    <textarea readonly><%= embed['data'] %></textarea>
                                                                  <% end %>
                                                                <% end %>
                                                            </div>
                                                            <div class="modal-footer">
                                                                <a href="#!" class="modal-action modal-close btn-flat blue white-text">Close</a>
                                                            </div>
                                                        </div>
                                                        <!--Modal end-->
                                                        <% end %>
                                                      <% end %>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <!--Pending Data Collapse  -->
                                    <li>
                                        <div class="collapsible-header orange darken-1"><i class="material-icons">thumb_down</i>Scenarios Pending (<%= @scenarios_pending.count %>/<%= @scenarios %>)</div>
                                        <div class="collapsible-body">
                                            <div class="row">
                                                <div class="col s12 m12 l12">
                                                    <ul class="collapsible" data-collapsible="expandable">
                                                        <!--Pending Data Scenarios  -->
                                                        <% @scenarios_pending.each do |scenario| %>
                                                        <li>
                                                            <div class="collapsible-header broken2"><i class="material-icons">thumb_down</i><%= scenario['scenario_props']['name'] %>
                                                                <div class="right">
                                                                    <!--Details Button-->
                                                                    <% @modal = 'modal_' + "#{rand(0..999999)}"%>
                                                                    <a class="btn blue" data-target="<%= @modal %>">Details</a>
                                                                </div>
                                                            </div>
                                                            <div class="collapsible-body broken3">
                                                                <ul class="black-text">
                                                                  <% scenario['steps'].each do |step| %>
                                                                  <li><%= step['name'] %></li>
                                                                  <hr>
                                                                  <% end %>
                                                                </ul>
                                                            </div>
                                                        </li>
                                                        <!--Pending Data Modals-->
                                                        <div id="<%= @modal %>" class="modal modal-fixed-footer black-text">
                                                            <div class="modal-content">
                                                                <h4>Scenario Details</h4>
                                                                <p>Broken</p>
                                                                <% scenario['embed_data'].each do |embed| %>
                                                                  <% if embed['format'].include?('image') %>
                                                                    <img src="data:image/png;base64, <%= embed['data'] %>" style="max-height:600px;" class="img-responsive">
                                                                  <% else %>
                                                                    <textarea readonly><%= embed['data'] %></textarea>
                                                                  <% end %>
                                                                <% end %>
                                                            </div>
                                                            <div class="modal-footer">
                                                                <a href="#!" class="modal-action modal-close btn-flat blue white-text">Close</a>
                                                            </div>
                                                        </div>
                                                        <!--Modal end-->
                                                        <% end %>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!--End Scenarios-->
                    <div id="errors" class="col s12 m12 l12">
                        <!--Start Errors-->
                        <h4 class="center-align">Errors</h4>
                        <!--Summary numbers  -->
                        <div class="row">
                          <p class="col s6 m6 l6">Execution Errors: <%= @scenarios_failed.count %></p>
                          <p class="col s6 m6 l6">Execution Pending Data: <%= @scenarios_pending.count %></p>
                        </div>
                        <!--Expand and Collapse Buttons-->
                        <div class="row">
                            <a class="waves-effect waves-light btn blue" onClick="expandAll();"><i class="material-icons left">fullscreen</i>Show All</a>
                            <a class="waves-effect waves-light btn blue" onClick="collapseAll();"><i class="material-icons left">fullscreen_exit</i>Hide All</a>
                        </div>
                        <!--Collapse Start  -->
                        <div class="row">
                            <div class="col s12 m12 l12">
                                <ul class="collapsible white-text" data-collapsible="expandable">
                                    <!--Broken Collapse  -->
                                    <li>
                                        <div class="collapsible-header missing1"><i class="material-icons">error_outline</i>Scenarios Broken (<%= @scenarios_failed.count %>/<%= @scenarios %>)</div>
                                        <div class="collapsible-body">
                                            <div class="row">
                                                <div class="col s12 m12 l12">
                                                    <ul class="collapsible" data-collapsible="expandable">
                                                        <!--Broken Scenarios  -->
                                                        <% @scenarios_failed.each do |scenario_f| %>
                                                        <li>
                                                            <div class="collapsible-header missing2"><i class="material-icons">error_outline</i><%= scenario_f['scenario_props']['name'] %>
                                                            </div>
                                                            <div class="collapsible-body missing3">
                                                                <ul class="black-text">
                                                                <%  error_message = scenario_f.deep_find('error_message')
                                                                    unless error_message.nil?
                                                                      err = error_message.slice(0..(error_message.index('(')-1)) if error_message.include?("(")
                                                                      error_message = err
                                                                      height = 50
                                                                    end %>

                                                                  <% unless error_message.nil? %>
                                                                    <div contenteditable="false"><textarea readonly class="center-align" style="height: <%= height %>px;"><%= error_message %></textarea></div>
                                                                  <% end %>
                                                                </ul>
                                                            </div>
                                                        </li>
                                                        <% end %>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <!--Pending Data Collapse  -->
                                    <li>
                                        <div class="collapsible-header orange darken-1"><i class="material-icons">thumb_down</i>Scenarios Pending Data (<%= @scenarios_pending.count %>/<%= @scenarios %>)</div>
                                        <div class="collapsible-body">
                                            <div class="row">
                                                <div class="col s12 m12 l12">
                                                    <ul class="collapsible" data-collapsible="expandable">
                                                        <!--Pending Data Scenarios  -->
                                                        <% @scenarios_pending.each do |scenario_p| %>
                                                        <li>
                                                            <div class="collapsible-header broken2"><i class="material-icons">thumb_down</i><%= scenario_p['scenario_props']['name'] %>
                                                            </div>
                                                            <div class="collapsible-body broken3">
                                                                <ul class="black-text">
                                                                  <%  error_message = scenario_p.deep_find('error_message')
                                                                      unless error_message.nil?
                                                                        err = error_message.slice(0..(error_message.index('(')-1)) if error_message.include?("(")
                                                                        error_message = err
                                                                        height = 50
                                                                      end %>

                                                                    <% unless error_message.nil? %>
                                                                    <div contenteditable="false"><textarea readonly class="center-align" style="height: <%= height %>px;"><%= error_message %></textarea></div>
                                                                  <% end %>
                                                                </ul>
                                                            </div>
                                                        </li>
                                                        <% end %>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    </div>

    <!--Import jQuery before materialize.js-->
    <script type="text/javascript" src="js/jquery.js"></script>
    <script type="text/javascript" src="js/materialize.js"></script>
    <script type="text/javascript" src="js/pie_chart.js"></script>
</body>

</html>
